/**     
Erstellt von der Gruppe "XForms":
Felix Hennerkes,
Maximilian Karpfinger,
Janik Schnellbach,
Daniel Meint
**/

:root {
    --primary-color: #5e995e;
    --secondary-color: #c5ebc5;
	--table-primary-color: #5e995e;
    --table-secondary-color: #c5ebc5;
    
    --background-color-light: #f5f5f5;
    --background-color-medium: #eeeeee;
    --background-color-dark: #e0e0e0;
    --shadow: 0 1px 3px #bdbdbd, 0 1px 2px #bdbdbd;
    --shadow-hover: 0 14px 28px #bdbdbd, 0 10px 10px #bdbdbd;
    
    --spacing: 20px;
    --table-height: 40px;
}

* {
	font-family: Helvetica, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: var(--background-color-light);
  height: 100%;
}

body#game {
  background: #BD1A2E;
  background: linear-gradient(to top right, #bd1a2e, #4b0a12);
  background-repeat: no-repeat;
  height: 100%;
}

.navbar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:60px;
    background-color: var(--table-primary-color);
    margin-bottom: 20px;
    color: white;
}

.navbar .header {
    color: white;
    font-size: 15px;
    text-transform: upperCase;
}

.navbar#centered {
    justify-content: center;
}

.navbar#centered h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.flex-center {
    margin: auto;
    justify-content: center;
}

.content {
    width: calc(100vw - 4rem);
    max-width: 1024px;

    background: white;
    padding: 1rem 3rem;
    
    border-radius: 1rem;
    
    text-align: center;
}

.information {

}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

.left {
    position: absolute;
    left: 1rem;
}

.right {
    position: absolute;
    right: 1rem;
}

.top {
    top: .5rem;
}

.bottom {
    bottom: .5rem;
}

.left.bottom {
    border-radius: 0 8px 0 0;
}

svg {
    max-width: 1200px;
}

/* gui elements */
#arrow_down {
  fill: red;
  animation: arrow 1s infinite;
}

.functions {
    padding: 1rem;
}

.functions form {
    display: inline-block;
}

svg .label {
    fill: white;
    stroke: black;
}

svg .label > text {
    fill: black;

}

svg .label > text.name {
    font-size: 12px;
    font-weight: lighter;
}

svg .label > text.hand_value {
    font-size: 32px;
}

svg .active .card_group {
    filter: drop-shadow(0px 0px 8px blue);
    transform: scale(1.2);
}

table {
	width: 100%;
    font-family: Helvetica, sans-serif;
    fill: var(--table-secondary-color);
    text-transform: uppercase;

}


#tableBase {
    fill: var(--table-primary-color);
}

#box {
    stroke: var(--table-secondary-color);
}

form {
    margin: 0;
    display: inline-block;
}

#login svg {
    width: 1rem;
    height: 1rem;
}

#login span {
    vertical-align: middle;
    margin-right: .5rem;
}

.chat {
    max-width: 256px;
}

.chat tbody {
    display: block;
    max-height: calc(100vh - 150px);
    overflow: scroll;
}

.chat td.msg {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.chat td.msg.msg-info {
    max-width: 100%;
    font-weight: bold;
}

.chat td.author {
    font-weight: bold;
    width: 20%;
    color: var(--primary-color);
}

.chat tr {
  display: none;
}

.chat tr:nth-last-child(-n+8) {
  /* Number of messages to display in chat, currently 8*/
  display: block;
}

.chat table th, .chat table td {
    padding: .5rem;
}

.chat #chatToggle {
    display: none;
}

.chat label {
    display: block;
    float: right;
}

.chat label {
    text-align: right;
    padding: 0 0 .5rem 0;
}

.chat label:hover {
    cursor:pointer
}

.chat input#chatToggle:checked ~ *:not(#showChat) {
    display: none;
}

.chat #showChat {
    display: none;
}

.chat input#chatToggle:checked ~ #showChat {
    display: block;
}

.chat label svg {
    fill: var(--primary-color);
    width: 2rem;
    height: 2rem;
}

#games-table th:last-child, #games-table td:last-child {
    text-align: right;
}

#games-table tbody form {
    opacity: 0.2;
}

#games-table tbody > tr:hover form {
    opacity: 1;
}

input {
    padding: .375rem .75rem;
    border-radius: .25rem;
    border-width: 2px;
    
    font-size: 1rem;
}

input:not([type="submit"]):hover, input:not([type="submit"]):focus {
    border-color: var(--primary-color);
}

/* buttons */
button {
    text-decoration: none;
    background-color: var(--table-primary-color);
    color: white;
    border-radius: 4px;
    border: none;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
    
    padding: 12px 20px;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    box-shadow: var(--shadow);
    text-transform: uppercase;
}

button:hover {
    opacity: 0.9;
}

button:active {
    opacity: 0.8;
}

button#disabled {
    opacity: 0.2;
    cursor: not-allowed;
    padding: none;
}

button.circular {
    position: absolute;
    border-radius: 50%;
    padding: 15px 19px;
    font-weight: bold;
    top: 0%;
    right: -10%;
}

button.circular#animated {
    transform: rotate(45deg);
    animation: rotate 0.8s;
}

button.menu {
    color: var(--table-secondary-color);
    box-shadow: none;
    z-index: 100;
}

button.menu#fixed {
    position: absolute;
}

button.menu#game {
    position: absolute
}

@media (min-width: 850px) {
    button.menu#game {
        color: white;
        box-shadow: var(--shadow);
    } 
}
button.stand{
    background-color :#f45c42;
}

button.hit{
    background-color: #f243ef;
}

button.double{
    background-color:#2bd6e2;
}

button.insurance{
    background-color:#70ae98;
}

.buttongroup {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.buttongroup a {
    display: block;
    width: 1%;
}

form.form-menu {
    display: block;
    padding: .5rem;
}

.hidden {
    display: none;
}

svg .label {
    fill: white;
    stroke: black;
}

svg .label.label-active {
    animation: shadow-pulse 1s infinite;
}

svg .label > text {
    fill: black;

}

svg .label > text.name {
    font-size: 12px;
    font-weight: lighter;
}

svg .label > text.hand_value {
    font-size: 2rem;
    font-style: italic;
}

.earnings.won {
    color: var(--primary-color);
}

.earnings.lost {
    color: red;
}

/* table */
#table text {
    font-family: Helvetica, sans-serif;
    fill: var(--secondary-color);
    text-transform: uppercase;
    font-size: 2rem;
}

#table text.heavy {
    font-weight: bold;
    font-size: 4rem;
}

#table text.small {
    font-size: 1.5rem;
}

#tableBase {
    fill: var(--primary-color);
}

#box {
    stroke: var(--secondary-color);
}

/* cards */
#card_base {
    fill: white;
    stroke: black;
}

g[id *= 'hearts'] text,
g[id *= 'diamonds'] text,
g[id *= 'spades'] text,
g[id *= 'clubs'] text,
#hearts,
#diamonds,
#spades,
#clubs {
    font-size: 24px;
}

g[id *= 'hearts'] text,
g[id *= 'diamonds'] text,
#diamonds,
#hearts {
    fill: red;
}

g[id *= 'spades'] text,
g[id *= 'clubs'] text,
#spades,
#clubs {
    fill: black;
}

.checker-background {
    fill: white;
}

.checker {
    fill: darkblue;
}

#back > rect:nth-child(2) {
    fill: url(cards.svg#pattern-checkers);
}

/* chips */

.chip text {
    dominant-baseline: central;
    fill: white;
    font-size: 32px;
    text-anchor: middle;
}

.chip-1 {
    fill: grey;
}

.chip-5 {
    fill: red;
}

.chip-10 {
    fill: rgb(134, 180, 241);
}

.chip-25 {
    fill: green;
}

.chip-100 {
    fill: black;
}

.chip-insurance {
    fill: orange;
}

/* TODO: better scaling for chips in game */
#player_cards .bet.chip text {
    font-size: 16px;
}

/* cards */
.card {
    transition: all .5s ease;
}

.card:hover {
    transform: scale(1.2) translateY(-30px);
}

/* placing cards */
#dealer {
  transform: translate(340px, 40px);
}

#player_cards {
    --pos-1-x: 670px;
    --pos-1-y: 280px;
    --pos-2-x: 520px;
    --pos-2-y: 350px;
    --pos-3-x: 340px;
    --pos-3-y: 390px;
    --pos-4-x: 160px;
    --pos-4-y: var(--pos-2-y);
    --pos-5-x: 10px;
    --pos-5-y: var(--pos-1-y);
}


#player_1_of_4, #player_1_of_5 {
    transform: translate(var(--pos-1-x), var(--pos-1-y));
}

#player_1_of_2, #player_1_of_3, #player_2_of_4, #player_2_of_5 {
    transform: translate(var(--pos-2-x), var(--pos-2-y));
}

#player_1_of_1, #player_2_of_2, #player_2_of_3, #player_3_of_4, #player_3_of_5 {
    transform: translate(var(--pos-3-x), var(--pos-3-y));
}

#player_3_of_3, #player_4_of_4, #player_4_of_5 {
    transform: translate(var(--pos-4-x), var(--pos-4-y));
}

#player_5_of_5 {
    transform: translate(var(--pos-5-x), var(--pos-5-y));
}


/* bets */
#player_1_of_4 .bet, #player_1_of_5 .bet {
    transform: translate(-10px, -50px)
}

#player_1_of_2 .bet, #player_1_of_3 .bet, #player_2_of_4 .bet, #player_2_of_5 .bet {
    transform: translate(5px, -45px)
}

#player_1_of_1 .bet, #player_2_of_2 .bet, #player_2_of_3 .bet, #player_3_of_4 .bet, #player_3_of_5 .bet {
    transform: translate(35px, -55px)
}

#player_3_of_3 .bet, #player_4_of_4 .bet, #player_4_of_5 .bet {
    transform: translate(65px, -45px)
}

#player_5_of_5 .bet {
    transform: translate(80px, -50px)
}

@keyframes shadow-pulse
{
  0% {
    filter: drop-shadow(0px 0px 2px red);
  }
  50% {
    filter: drop-shadow(0px 0px 4px red);
  }
  100% {
    filter: drop-shadow(0px 0px 2px red);
  }
}

@keyframes arrow
{
  0% {
    transform: scale(0.1) translate(0px, -300px) rotate(-90deg)
  }
  50% {
    transform: scale(0.1) translate(-30px, -300px) rotate(-90deg)
  }
  100% {
    transform: scale(0.1) translate(0px, -300px) rotate(-90deg)
  }
}

@keyframes chip-won
{
  100% {
    transform: scale(0.5) translate(50px, 50px);
  }
}

@keyframes chip-lost
{
  100% {
    transform: translate(0px, -1000px);
  }
}

@-webkit-keyframes DynamicBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes DynamicBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes DynamicBackground { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}


/* Loader */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: var(--primary-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {f
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@keyframes dialog
{
  0% {
      transform: translate(0%, -200%);
  }
}

@keyframes dialog-shake
{
    10%
    {
        transform: translate(-10px, 0px);
    }
    40%
    {
        transform: translate(10px, 0px);
    }
    70%
    {
        transform: translate(-3px, 0px);
    }
    100%
    {
        transform: translate(1px, 0px);
    }
}

@keyframes rotate
{
    0%
    {
        transform: rotate(45deg);
    }
}

/* dialog */
.dialog{
    position: fixed;
    width: 40%;
    min-width: 300px;
    max-width: 500px;
    background-color: white;
    border-radius: 5px;
    padding: var(--spacing);
    height: auto;
    margin-bottom: 20px;
    box-shadow: var(--shadow);
}

.dialog#animation{
    animation: dialog 0.4s;
}

.dialog--header {
    font-size: 35px;
    text-align: left;
    padding: calc((var(--spacing)) - 10px);
}

.dialog--content {
    padding-left: calc((var(--spacing)) - 10px);
    font-size: 18px;
}

.dialog--content form div{
    padding-top: 10px;
}

.dialog--betting{
    display: flex;
    flex-wrap: wrap;
}

.dialog button{
    float: right;
    margin-top: 30px;
}

.dialog#buttongroup {
    position: relative;
    animation: none;
}

.dialog#login {
    position: absolute;
    top: 25%;
    width: 30%;
}

.dialog#register{
    background-color: var(--table-primary-color);
    position: absolute;
    top: 25%;
    width: 30%;
    color: white;
    box-shadow: var(--shadow-hover);
    animation: dialog-shake 1s;
}

.dialog#register label{
    color: white;
}

.dialog#register button{
    background-color: white;
    color: darkgrey;
    box-shadow: var(--shadow);
}

.dialog form{
    width: 100%;
}

.dialog#shadow {
    box-shadow: var(--shadow), 0 0 0 2000px rgba(0,0,0,0.8);
}

.dialog#buttongroup button {
    float:none
}

.dialog #win{
    color: green;
}

.dialog #lose{
    color: red;
    opacity: 0.5;
}

.dialog #tie{
    opacity: 0.5;
}

/* input */
.input--advanced { 
  display: flex; 
  flex-direction: column;
  margin-top: 15px;
  margin-right: 15px;
}

label#name {
  font-size:16px;
  margin-left: 5px;
  color:var(--table-primary-color);
}

label#balance {
    font-size: 12px;
    margin-top: 2px;
    margin-left: 0px;
}

input {
  width:80%;
  padding:10px 5px;
  font-size:18px;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid var(--background-color-dark);
}

input.betting {
  max-width: 120px;
}

input.name {
  max-width: 300px;
}

input:focus {
  border-bottom: 2px solid var(--table-primary-color); 
}
