/**     
Erstellt von der Gruppe "XForms":
Felix Hennerkes,
Maximilian Karpfinger,
Janik Schnellbach,
Daniel Meint
**/

:root {
    --table-primary-color: #5e995e;
    --table-secondary-color: #c5ebc5;
}

* {
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-height: 100vh;
}


svg {
    max-width: 800px;
}

/* table */
#table text {
    font-family: Helvetica, sans-serif;
    fill: var(--table-secondary-color);
    text-transform: uppercase;
    font-size: 32px;
}

#table text.heavy {
    font-weight: bold;
    font-size: 50px;
}

#table text.small {
    font-size: 24px;
}

#tableBase {
    fill: var(--table-primary-color);
}

#box {
    stroke: var(--table-secondary-color);
    ;
}

/* cards */
#card_base {
    fill: white;
    stroke: black;
}

g[id *= 'hearts'] text,
g[id *= 'diamonds'] text,
g[id *= 'spades'] text,
g[id *= 'clubs'] text,
#hearts,
#diamonds,
#spades,
#clubs {
    font-size: 24px;
}

g[id *= 'hearts'] text,
g[id *= 'diamonds'] text,
#diamonds,
#hearts {
    fill: red;
}

g[id *= 'spades'] text,
g[id *= 'clubs'] text,
#spades,
#clubs {
    fill: black;
}

.checker-background {
    fill: white;
}

.checker {
    fill: darkred;
}

#back > rect:nth-child(2) {
    fill: url(cards.svg#pattern-checkers);
}

/* chips */
.chip text {
    dominant-baseline: central;
    fill: white;
    font-size: 32px;
    text-anchor: middle;
}

.chip-1 {
    fill: grey;
}

.chip-5 {
    fill: red;
}

.chip-10 {
    fill: rgb(134, 180, 241);
}

.chip-25 {
    fill: green;
}

.chip-100 {
    fill: black;
}

/* buttons */
.btn {
    background-color: var(--table-primary-color);
    color: var(--table-secondary-color);
    border-radius: 28px;
    border: none;
    margin: 8px;
    display: inline-block;
    cursor: pointer;
    
    
    padding: 16px 31px;
    width: 112px;
    
    font-size: 17px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.myButton:hover {
    background-color: green;
}

.myButton:active {
    position: relative;
    top: 1px;
}







/* placing cards */
#player_cards {
    --pos-1-x: 670px;
    --pos-1-y: 280px;
    --pos-2-x: 520px;
    --pos-2-y: 350px;
    --pos-3-x: 340px;
    --pos-3-y: 390px;
    --pos-4-x: 160px;
    --pos-4-y: var(--pos-2-y);
    --pos-5-x: 10px;
    --pos-5-y: var(--pos-1-y);
}


#player_1_of_4, #player_1_of_5 {
    transform: translate(var(--pos-1-x), var(--pos-1-y));
}

#player_1_of_2, #player_1_of_3, #player_2_of_4, #player_2_of_5 {
    transform: translate(var(--pos-2-x), var(--pos-2-y));
}

#player_1_of_1, #player_2_of_2, #player_2_of_3, #player_3_of_4, #player_3_of_5 {
    transform: translate(var(--pos-3-x), var(--pos-3-y));
}

#player_3_of_3, #player_4_of_4, #player_4_of_5 {
    transform: translate(var(--pos-4-x), var(--pos-4-y));
}

#player_5_of_5 {
    transform: translate(var(--pos-5-x), var(--pos-5-y));
}

/*
/\* player 1 *\/
#player_cards .card_group:nth-child(1) {
    transform: translate(340px, 390px);
}

/\* player 2 *\/
#player_cards .card_group:nth-child(2) {
    transform: translate(520px, 350px);
}

/\* player 3 *\/
#player_cards .card_group:nth-child(3) {
    transform: translate(160px, 350px);
}

/\* player 4 *\/
#player_cards .card_group:nth-child(4) {
    transform: translate(670px, 280px);
}

/\* player 5 *\/
#player_cards .card_group:nth-child(5) {
    transform: translate(10px, 280px);
}
 
*/

.card_group use:nth-child(2) {
    transform: translate(40px, 10px);
}

